<configuration>
	<timestamp key="bySecond" datePattern="yyyyMMdd'T'HHmmss"/>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%msg</pattern>
		</encoder>
	</appender>
<!--	<appender name="FILE" class="ch.qos.logback.core.FileAppender">-->
<!--		<file>logfile.txt</file>-->
<!--		<append>false</append>-->
<!--		<encoder>-->
<!--			<Pattern>%msg</Pattern>-->
<!--		</encoder>-->
<!--	</appender>-->

<!--	<root level="debug">-->
<!--		<appender-ref ref="FILE" />-->
<!--	</root>-->
</configuration>